/**********************************
****   Square Container CSS    ****
**********************************/

.container {
  width: 2500px;
  height: 2500px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

/**********************************
******   Color Square CSS    ******
**********************************/

.square {
  width: 50px;
  height: 50px;
  /* color: red; */
  background-color: #FFD8E9;
}

/**********************************
***   Button Container CSS    *****
**********************************/

.colorSection {
  width: 1500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/**********************************
*****   Generic Button CSS    *****
**********************************/

.button {
  width: 500px;
  height: 100px;
}

/**********************************
******   Color Class CSS    *******
**********************************/

.water {
  background-color: #00B2FF;
}

.plains {
  background-color: #17FF00;
}

.forest {
  background-color: #135A0C;
}

.mountains{
  background-color: #525A51;
}

.desert {
  background-color: #EBD81F;
}

.towns {
  background-color: #000000;
  color: white;
}

/**********************************
****   Special Button CSS    ******
**********************************/

#generateButton {
  background-color: pink;
}

#exportButton {
  background-color: grey;
}

#currentButton {
  color: red;
}
